<h1 class="animated fast fadeIn display-3">Crear Usuario</h1>
<hr>

<form class="user-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="jumbotron animated fast fadeIn">
      <div class="form-group">
          <input type="text" formControlName="email" emailExists placeholder="Email"  class="form-control" uniqueEmail [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div class="divider"></div>
              <div class="alert alert-danger" *ngIf="f.email.errors.required">Email requerido</div>
              <div class="alert alert-danger" *ngIf="f.email.errors.email">Email debe ser una cuenta valida</div>
              <div class="alert alert-danger" *ngIf="f.email.errors['uniqueEmail']">Email existe</div>
              </div>
          </div>


        <div class="form-group">
            <input type="text" formControlName="name" placeholder="Nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />

            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div class="divider"></div>
                <div class="alert alert-danger" *ngIf="f.name.errors.required">Nombre requerido</div>
                </div>
            </div>

        <div class="form-group">
            <input type="text" formControlName="secondName" placeholder="Apellido" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.secondName.errors }" />

            <div *ngIf="submitted && f.secondName.errors" class="invalid-feedback">
                <div class="divider"></div>
                <div class="alert alert-danger" *ngIf="f.secondName.errors.required">Apellido requerido</div>
                </div>
            </div>


        <!-- <div class="form-group" formGorupName="roles" >
          <select  placeholder="Selecionar rol"  id="rolname" formControlName="rolname" class="form-control">

            <option  *ngFor = "let r of rolesList"  [ngValue] = "r" >{{r}}</option>
          </select>
        </div> -->
        <div class="form-group">
          <select  id="roles" formControlName="roles" class="form-control">
            <option value="" selected disabled>Seleccionar Rol</option>
            <option  *ngFor = "let r of rolesList"  [value] = "r.name" >{{r.name}}</option>
          </select>
          <div *ngIf="submitted && f.roles.errors" class="invalid-feedback">
            <div class="divider"></div>
            <div class="alert alert-danger" *ngIf="f.roles.errors.required">Rol requerido</div>
          </div>
        </div>

        <br>
        <div class="form-group">
            <button [disabled]="buttonDisabled" class="btn btn-outline-primary btn-block form-control">Registrar</button>
        </div>


    </div>

    </form>





        <!-- <div class="form-group">
            Habilitar usuario <input type="checkbox" formControlName="enable-check" name="enable-check" [checked]="enable"   (change)="$event.target.checked" />
        </div> -->
