<h1 class="animated fast fadeIn display-3">Analizar</h1>
<hr>
<br>
<div class="animated fast fadeIn">
  <span><strong>1 - Elegir archivo a analizar</strong></span>
  <br><br>
  <select (change)='onOptionSelected($event)'>
    <option value = "-1" selected="selected">Seleccionar Archivo</option>
    <option *ngFor = "let file of fileList" [value] = "file.idFile" >{{file.name}}</option>
  </select>
  <br><br>
  <span><strong>2 - Elegir archivos para comparar</strong></span>
  <br><br><br>
  <span><strong>Tus Archivos</strong></span>
  <br><br>

  <div class="table-wrapper-scroll-y">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Extension</th>
          <th scope="col">Tamaño</th>
          <th scope="col">Seleccionar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of fileList">
          <th scope="row">#</th>
          <td>{{f.name}}</td>
          <td>{{f.extension}}</td>
          <td>{{f.size}}</td>
          <td><input type="checkbox" (change)="onChange(f.idFile, $event.target.checked)"name="{{ f.name }}" type="checkbox" id="{{f.idFile}}"/></td>
        </tr>
      </tbody>
    </table>
  </div>

  <br><br><br>
  <span><strong>Documentos compartidos</strong></span>
  <br><br>

  <div class="table-wrapper-scroll-y">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Extension</th>
          <th scope="col">Tamaño</th>
          <th scope="col">Seleccionar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of sharedFileList">
          <th scope="row">#</th>
          <td>{{f.name}}</td>
          <td>{{f.extension}}</td>
          <td>{{f.size}}</td>
          <td><input type="checkbox"  (change)="onChange(f.idFile, $event.target.checked)"name="{{ f.name }}" type="checkbox" id="{{f.idFile}}"/></td>
        </tr>
      </tbody>
    </table>
  </div>

  <br>
  <form action="action_page.php">
      <div class="container">

        <button type="submit" [disabled]="buttonDisabled" (click)="onSubmit()">Analizar</button>

        <br>
      </div>
  </form>
</div>

<br>
<br>
