<!-- <div class="login-box">
  <h1 class="animated fast fadeIn display-3">Crear Usuario</h1>
  <hr>
  <br>
  <form action="action_page.php">
    <div class="jumbotron jumbotron-fluid animated fadeIn ">
      <div class="container">
        <input type="text" placeholder="Enter Nombre" class="form-control" name="uname" [(ngModel)]="name" required>
        <br>
        <input type="text" placeholder="Enter Apellido" class="form-control" name="ulastname" [(ngModel)]="lastName" required>
        <br>
        <input type="text" placeholder="Enter Email" class="form-control" name="email" [(ngModel)]="email" required>
        <br>
        <div class="d-inline-block">
          <select class='select-option' required [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)'>
            <option class='option' *ngFor='let option of options' [value]="option">{{option}}</option>
          </select>
        </div>
        <br>
        <input type="text" placeholder="Google Email" class="form-control" name="Gmail_email"  [(ngModel)]="password" required>
        <br>
        <input type="password" placeholder="Repeat Password" class="form-control" name="r_password"  [(ngModel)]="r_password" required>
        <br>
        <button type="submit" (click)="onSubmitClicked()">Crear usuario</button>
      </div>
    </div>
  </form>
</div> -->
<div class="signin-box fast animated fadeIn">
  <h1 class="animated fadeIn display-3">Nuevo Usuario</h1>
  <br>
<form [formGroup]="form" (ngSubmit)="onSubmit()" >
    <div class="container animated fadeIn ">
      <br>
      <input type="text" placeholder="Enter Username" class="form-control" name="userName" formControlName="userName" required>
      <br>
      <input type="text" placeholder="Enter Nombre" class="form-control" name="firstName" formControlName="firstName" required>
      <br>
      <input type="text" placeholder="Enter Apellido" class="form-control" name="lastName" formControlName="lastName" required>
      <br>
      <input type="text" placeholder="Enter Email" class="form-control" name="email" formControlName="email" required>
      <br>
      <input type="password" placeholder="Password" class="form-control" name="password"  formControlName="password" required>
      <br>
      <input type="password" placeholder="Repeat Password" class="form-control" name="r_password"  formControlName="r_password" required>
      <br>
      <button type="submit">Login</button>
      <br>
      <li class="Login-link">
          <a class="link" (click)="goToLogin()" >Ingresar con Usuario existente</a>
      </li>
    </div>
</form>
</div>
