<h1 class="animated fast fadeIn display-3">Cambiar contraseña</h1>
<hr>
<br>

<form class="user-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="jumbotron animated fast fadeIn">
      <div class="form-group">
          <input type="password" formControlName="password" emailExists placeholder="Nueva Contraseña"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div class="divider"></div>
              <div class="alert alert-danger" *ngIf="f.password.errors.minlength">La contraseña debe tener un minimo de 6 caracteres</div>
              <div class="alert alert-danger" *ngIf="f.password.errors.required">Ingrese Contraseña</div>
          </div>
      </div>

        <div class="form-group">
            <input type="password" formControlName="confirmation" placeholder="Confirmar Contraseña" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmation.errors }" />
            <div *ngIf="submitted && f.confirmation.errors" class="invalid-feedback">
                <div class="divider"></div>
                <div class="alert alert-danger" *ngIf="f.confirmation.errors.required">Confirmaicion Requerida</div>
            </div>
        </div>

        <br>
        <div class="form-group">
            <button  class="btn btn-outline-primary btn-block form-control">Modificar</button>
        </div>


    </div>
    </form>
