<div class="login-box animated fast fadeIn">
  <label for="" style="font-size: 30px;" class="header-box animated fadeIn">Recuperar Contraseña</label>
  <form [formGroup]="form" (ngSubmit)="onSubmitClicked()" >
    <div class="container animated fadeIn ">
      <input type="text" placeholder="Ingresar Email" class="form-control" name="userEmail" formControlName="userEmail" required>
      <br>
      <p>Recibiras un email con un link para recuperar tu contraseña.</p>
      <button class="btn btn-outline-primary btn-block form-control" type="submit">Confirmar</button>
      <br>
      <li class="password-link">
        <a class="link" (click)="goToLogin()" >Ingresar con Usuario existente</a>
      </li>
    </div>
  </form>
</div>
