
<script src="https://apis.google.com/js/platform.js" async defer></script>
<p>Para cargar sus archivos de Google Drive primero debe loguearse en su cuenta  de google</p>
<button class="btn btn-outline-primary btn-block form-control" (click)="signIn()">Google Drive</button>
    <!-- <button class="acc_button" mat-raised-button oninvalid=""(click)="signOut()">Sign out</button> -->


<h1>TEST</h1>
  <tbody>
    <tr *ngFor="let file of filteredFiles">
      <th scope="row">#</th>
      <td><h4 mat-line><a href="{{file.webContentLink}}"> {{file.title}} </a></h4></td>
      <td><p class="metaText" mat-line >{{file.fileSize/1000000 | number}} MB</p></td>
      <td><p mat-line class="metaText">Created On: {{file.createdDate| date}} </p></td>
    </tr>
  </tbody>


  <button class="acc_button" mat-raised-button (click)="getFiles()">getFiles</button>
