<h1 class="animated fast fadeIn display-3"> Mis Archivos</h1>
  <br>
<div class="table-wrapper-scroll-y">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Extension</th>
        <th scope="col">Tamaño</th>
        <th scope="col">Descargar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of fileList">
        <th scope="row">#</th>
        <td>{{file.name}}</td>
        <td>{{file.extension}}</td>
        <td>{{file.size}}</td>
        <td>
          <a id="{{file.idFile}}" (click)="downloadFile(file.idFile)">
            <img src="assets/img/download.png" alt="Descargar archivo" style="width:20px;height:20px;border:0;">
          </a>
        </td>
        <td>
          <a id="{{file.idFile}}" (click)="deleteFile(file.idFile)">
            <img src="assets/img/delete.svg" alt="Eliminar archivo" style="width:20px;height:20px;border:0;">
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br>

<h2 class="animated fast fadeIn display-3">Subir Archivo</h2>
<hr>
<br>

<div class="jumbotron jumbotron-fluid animated fadeIn ">
  {{buttonDisabled}}

  <input type="file" (change)=onFileSelected($event)>
  <button type="button" [disabled]="buttonDisabled" (click)="onUpload()">Subir Archivo</button>
  <span ng-if="porcentaje != 0">{{porcentaje}}</span>

</div>
