<h1 class="animated fast fadeIn display-3"> Mis Archivos</h1>
<hr>
  <div class="jumbotron">
    <h1 class="display-3"></h1>
    <div *ngIf="!(fileList.length > 0)" class="">
      <img src="assets/img/error.png" class="img-modal img-fluid pull-xs-left" alt="..."><span><strong> No hay archivos cargados en el sistema</strong></span>
    </div>
    <div *ngIf="fileList.length > 0" class="table-wrapper-scroll-y">
      <table class="table table-striped table-dark">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Extension</th>
            <th scope="col">Tamaño</th>
            <th scope="col">Descargar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of fileList">
            <th scope="row">#</th>
            <td>{{file.name}}</td>
            <td>{{file.extension}}</td>
            <td>{{file.size}}</td>
            <td>
              <a id="{{file.idFile}}" (click)="downloadFile(file.idFile)">
                <img class="canClick" src="assets/img/download.png" alt="Descargar archivo" style="width:20px;height:20px;border:0;">
              </a>
            </td>
            <td>
              <a id="{{file.idFile}}" (click)="deleteFileFlow(file.idFile)">
                <img class="canClick" src="assets/img/delete.svg" alt="Eliminar archivo" style="width:20px;height:20px;border:0;">
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<h3 class="animated fast fadeIn">Subir Archivo</h3>
<hr>

<div class="jumbotron jumbotron-fluid animated fadeIn ">
  <div class="middle-centered">
    <div class="divider-nav">
    </div>
    <input type="file" class="file-btn" (change)=onFileSelected($event)>
    <div class="divider-nav">
    </div>
    <button type="button" class="btn btn-outline-primary btn-block form-control" [disabled]="buttonDisabled" (click)="uploadFlow()">Subir Archivo</button>

    <span ng-if="porcentaje != 0">{{porcentaje}}</span>
  </div>
</div>
