<!-- *ngIf="isLoggedIn$ | async" -->


<nav class="navbar navbar-toggleable-md navbar-light bg-faded animated fast fadeIn" *ngIf="isLoggedIn$ | async">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['home']"> <img src="assets/img/logo.png" width="88" height="24" alt="" class="img-fluid pull-xs-left" alt="..."></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" *ngIf="role=='2'" >
        <button mat-button [routerLink]="['files']" class="btn btn-outline-primary btn-block button-nav" href="#">Archivos</button>
      </li>
      <div class="divider-nav"></div>
      <li class="nav-item" *ngIf="role=='1'" >
        <button mat-button  [routerLink]="['create-user']" class="btn btn-outline-primary btn-block button-nav" href="#">Crear Usuario</button>
      </li>
      <div class="divider-nav"></div>
      <li class="nav-item" *ngIf="role=='1'" >
        <button mat-button  [routerLink]="['edit-user']" class="btn btn-outline-primary btn-block button-nav" href="#">Editar Usuario</button>
      </li>
      <div class="divider-nav"></div>
      <li class="nav-item" *ngIf="role=='2'" >
        <button mat-button  [routerLink]="['analyze']" class="btn btn-outline-primary btn-block button-nav" href="#">Analizar</button>
      </li>
      <div class="divider-nav"></div>
      <li class="nav-item" *ngIf="role=='2'" >
        <button mat-button  [routerLink]="['reports']" class="btn btn-outline-primary btn-block button-nav" href="#">Reportes</button>
      </li>
      <div class="divider-nav"></div>
      <li class="nav-item" *ngIf="role=='2'" >
        <button mat-button  [routerLink]="['google-drive']" class="btn btn-outline-primary btn-block button-nav" href="#">Google Drive</button>
      </li>
      <div class="divider-nav"></div>
      <li class="nav-item">
        <button mat-button  [routerLink]="['help']" class="btn btn-outline-primary btn-block button-nav" href="#">Ayuda</button>
      </li>
    </ul>

    <div class="navbar-collapse  w-100 order-3 ">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item" routerLinkActive="active">
            <button mat-button [routerLink]="['edit-profile']" class="btn btn-outline-primary btn-block">{{email}}</button>
          </li>
            <div class="divider-nav"></div>
          <li class="nav-item" routerLinkActive="active">
            <button mat-button class="btn btn-outline-primary btn-block" (click)="onLogout()">Logout</button>
          </li>
      </ul>
    </div>


    <script>
    $('.navbar-nav>li>button').on('click', function(){
        $('.navbar-collapse').collapse('hide');
    });
    </script>

  </div>
</nav>
